.App {
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  background-color: darkcyan;
  height: 80vh;
  width: 90vw;
  margin: 10vh auto auto auto;
  flex-wrap: wrap;
}
.card {
  flex: 1 0 25%;
  height: 50%;
  font-size: 2em;
  background-color: darkblue;
}
